<h2>Dear <% @order.name %>!</h2>

<p>
This is just to let you know hat we've shipped your recent order:
</p>

<table>
  <tr> <th=colspan="2"> Quantity </th><th>Description</th></tr>
  <%= render @order.line_items -%>
</table>
